.explore .places{
    position: relative;
}
.explore .places .text{
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    bottom: 5px;
    right: 0px;
    left: 0px;
}